.banner {
  padding-top: 17rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: center;
}
.banner .content {
  text-align: center;
  width: 60rem;
}
.banner .content h3 {
  font-size: 3rem;
  color: var(--black);
}
.banner .content span {
  color: var(--orange);
}
.banner .content p {
  padding: 2rem 0;
  font-size: 1.7rem;
  color: var(--light-color);
}
.banner .content button:hover {
  background: var(--orange);
}
